/Caesar.class
/Collatz.class
/FunctionOfGcdLcm.class
/HarshadNumber.class
/Inspection.class
/Inspection_test.class
/MiddleValue.class
/NLCM.class
/NextBigNumber.class
/ProductMatrix.class
/Solution.class
/Solution_Restructure.class
/Square.class
/SquareTest.class
/StrToInt.class
/SumMatrix.class
/InspectString.class
/LastPoint.class
/NoDuplicate.class
/CountAlphabet.class
/WordTranslation.class
